// primary
$color-primary: #15161d;
$color-dark: #0f1015;
$color-red: #c00;
$color-blue: #206bc5;
$color-blue-light: #6da2e1;
$color-violet: #8b5dd4;

// content
$color-content-bg: #202125;
$color-content-bg-dark: #1a1b1f;

// text
$color-text-regular: #c9d1d9;
$color-text-gray: #70717b;
